<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tangxi.testplatform.mapper.TestCaseMapper">

    <!--新增测试用例-->
    <insert id="createTestCase"  parameterType="org.tangxi.testplatform.model.TestCase" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO zsi_test_case (test_name, method, url, base_url_id,headers, parameters, created_at, updated_at,
        module_id,suite,descs, pre_action_names, post_action_names, check_points)
                values(#{testName},
                       #{method},
                       #{url},
                       #{baseUrlId},
                       #{headers},
                       #{parameters},
                       #{createdAt},
                       #{updatedAt},
                       #{moduleId},
                       #{suite},
                       #{descs},
                       #{preActionNames,javaType=List,jdbcType=VARCHAR,typeHandler=org.tangxi.testplatform.handler.ListTypeHandler},
                       #{postActionNames,javaType=List,jdbcType=VARCHAR,typeHandler=org.tangxi.testplatform.handler.ListTypeHandler},
                       #{checkPoints,javaType=List,jdbcType=VARCHAR,typeHandler=org.tangxi.testplatform.handler.ListTypeHandler}
                )
    </insert>

    <!--批量增加测试用例-->
    <insert id="insertBatchTestCases" parameterType="org.tangxi.testplatform.model.TestCase" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO zsi_test_case (test_name, method, url, base_url_id,headers, created_at, updated_at,
                                    module_id,suite)
        VALUES
        <foreach item = "item" collection="list" separator=",">
         (
            #{item.testName},
            #{item.method},
            #{item.url},
            #{item.baseUrlId},
            #{item.headers},
            #{item.createdAt},
            #{item.updatedAt},
            #{item.moduleId},
            #{item.suite}
        )
        </foreach>
    </insert>


    <update id="updateTestcase" parameterType="org.tangxi.testplatform.model.TestCase" useGeneratedKeys="true"
            keyProperty="id">
        UPDATE zsi_test_case
        SET
            test_name         = #{testName},
            method            = #{method},
            url               = #{url},
            base_url_id          = #{baseUrlId},
            headers           = #{headers},
            parameters        = #{parameters},
            updated_at        = #{updatedAt},
            module_id         = #{moduleId},
            suite             = #{suite},
            descs             = #{descs},
            pre_action_names  = #{preActionNames,javaType=List,jdbcType=VARCHAR,typeHandler=org.tangxi.testplatform.handler.ListTypeHandler},
            post_action_names = #{postActionNames,javaType=List,jdbcType=VARCHAR,typeHandler=org.tangxi.testplatform.handler.ListTypeHandler},
            check_points      = #{checkPoints,javaType=List,jdbcType=VARCHAR,typeHandler=org.tangxi.testplatform.handler.ListTypeHandler},
            start_time        = #{startTime},
            end_time          = #{endTime},
            execution_time    = #{executionTime}
        WHERE id = #{id}
    </update>

    <resultMap id="testcaseMap" type="org.tangxi.testplatform.model.TestCase">
        <result typeHandler="org.tangxi.testplatform.handler.ListTypeHandler" column="check_points"
                javaType="java.util.List" jdbcType="VARCHAR" property="checkPoints"/>
        <result typeHandler="org.tangxi.testplatform.handler.ListTypeHandler" column="pre_action_names"
                javaType="java.util.List" jdbcType="VARCHAR" property="preActionNames"/>
        <result typeHandler="org.tangxi.testplatform.handler.ListTypeHandler" column="post_action_names"
                javaType="java.util.List" jdbcType="VARCHAR" property="postActionNames"/>
        <result column="is_passed" property="isPassed" />
    </resultMap>
    <select id="getTestCaseById" resultMap="testcaseMap" parameterType="int">
        SELECT *
        FROM zsi_test_case
        WHERE id = #{id}
    </select>

    <select id="getTestCaseResultById" resultType="Map" parameterType="int">
        SELECT is_passed FROM zsi_test_case WHERE id = #{id}
    </select>

    <select id="getTestCaseByFields" parameterType="Map" resultMap="testcaseMap">
        SELECT * FROM zsi_test_case WHERE 1=1
        <if test="searchKey != null">
            AND (test_name LIKE concat('%',#{searchKey},'%')  OR descs LIKE concat('%',#{searchKey},'%'))
        </if>
        <if test="moduleId != null">
            AND module_id IN (SELECT id FROM zsi_module zm WHERE find_in_set(zm.id,getChildLst(#{moduleId})))
        </if>
        ORDER BY updated_at DESC
    </select>

    <!--根据moduleId获取测试用例-->
    <select id="getTestCaseByModuleId" parameterType="Integer" resultMap="testcaseMap">
        SELECT * FROM zsi_test_case WHERE module_id = #{moduleId}
    </select>

    <!--根据id物理删除测试用例-->
    <delete id="deleteTestCaseById" parameterType="java.lang.Integer">
        DELETE FROM zsi_test_case WHERE id = #{id}
    </delete>

    <!--根据模块id物理删除测试用例-->
    <delete id="delteTestCaseByModuleId" parameterType="java.lang.Integer">
        DELETE FROM zsi_test_case WHERE module_id = #{moduleId}
    </delete>

    <update id="disableTestCaseById" parameterType="java.lang.Integer" useGeneratedKeys="true" keyProperty="id">
        UPDATE zsi_test_case
        SET is_disabled = 1
        WHERE id = #{id}
    </update>

    <!--查询某个参数值的个数-->
    <select id="getParamCountByParameter" resultType="Integer" >
        SELECT count(*) FROM zsi_test_case WHERE parameters LIKE concat('%',#{parameter},'%')
    </select>

    <select id="getActionCountByActionName" resultType="Integer">
        SELECT count(*) FROM zsi_test_case WHERE (zsi_test_case.pre_action_names LIKE concat('%',#{action},'%') or post_action_names LIKE concat('%',#{action},'%'))
    </select>

    <!--根据groups名字查询所有的测试用例-->
    <select id="getTestCasesByGroups" parameterType="String" resultMap="testcaseMap">
        SELECT * FROM zsi_test_case WHERE groups = #{groups}
    </select>

    <!--更新测试用例执行结果-->
    <update id="updateTestCaseResult">
        UPDATE zsi_test_case SET is_passed = #{resultStatus}, result = #{testResult} WHERE id = #{id}
    </update>

</mapper>